
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<div id="login" class="animate form">
<form method="post" action="/add_number">
    <p>
                <label for="username" class="uname" data-icon="u" > Ваш mail </label>
                <input id="username" name="name" type="text">
            </p>
    <p>
                <label for="password" class="youpasswd" data-icon="p"> Ваш пароль </label>
                <input id="password" name="calc" type="password">
            </p>
    <button type="submit" >Add </button>
</form>
</div>
</body>
